In [3]:
import pandas as pd

In [26]:
df_bikes = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/motorbikes/europe-motorbikes-zenrows.csv')
df_adult = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/adult.csv')
df_chess = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/chess/games_copy.csv')
df_jobs = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/job_dataset_dataanalysis/job_descriptions.csv')
df_ecommerce = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/user_behaviour/ecommerce_customer_data_large.csv')
df_wine_review = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/wine_review/winemag-data-130k-v2.csv')

## For adult dataset

In [10]:

unique_nums = []
for column in df_adult:
    unique_nums.append(len(df_adult[column].unique()))

print(df_adult.columns)
unique_nums

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

[74, 9, 28523, 16, 16, 7, 15, 6, 5, 2, 123, 99, 96, 42, 2]

## For bikes dataset

In [27]:
print(df_bikes.shape)

df_bikes.apply(lambda col: len(col.unique()))

(34917, 10)

price          2505
mileage        9491
power           288
make_model     2168
date            783
fuel              8
gear              4
offer_type        5
version        9479
link          29084
dtype: int64

## Chess

In [31]:
df_chess.apply(lambda col: len(col.unique()))

id                19113
rated                 2
created_at        13151
last_move_at      13186
turns               211
victory_status        4
winner                3
increment_code      400
white_id           9438
white_rating       1516
black_id           9331
black_rating       1521
moves             18920
opening_eco         365
opening_name       1477
opening_ply          23
dtype: int64

## Jobs dataset
1.5 million rows dataset

In [39]:
print(df_jobs.shape)
df_jobs.apply(lambda col: len(col.unique()))

(1615940, 23)

Job Id              1615940
Experience               48
Qualifications           10
Salary Range            561
location                214
Country                 216
latitude                216
longitude               216
Work Type                 5
Company Size         122188
Job Posting Date        731
Preference                3
Contact Person       367128
Contact             1615933
Job Title               147
Role                    376
Job Portal               16
Job Description         376
Benefits                 11
skills                  376
Responsibilities        375
Company                 888
Company Profile         885
dtype: int64

In [24]:
df_jobs = df_jobs.drop(['Job Id', 'Company Size', 'Contact Person', 'Contact', 'Job Posting Date'], axis=1, inplace=False)
df_jobs.head(5)

,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Job Posting Date,Preference,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,2022-04-24,Female,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,2022-12-19,Female,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,2022-09-14,Male,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,2023-02-25,Female,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,2022-10-11,Female,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

## ecommenrce user-behaviour

few high cardinality values

In [5]:
print(df_ecommerce.shape)
df_ecommerce.apply(lambda col: len(col.unique()))

(250000, 11)

Purchase Date            234620
Product Category              4
Product Price               491
Quantity                      5
Total Purchase Amount      5245
Payment Method                3
Customer Age                 53
Returns                       3
Customer Name             39878
Gender                        2
Churn                         2
dtype: int64

In [18]:
df_ecommerce = df_ecommerce.drop(['Purchase Date', 'Total Purchase Amount','Customer Name'], axis=1, inplace=False)
df_ecommerce.head(5)

,Product Category,Product Price,Quantity,Payment Method,Customer Age,Returns,Gender,Churn
0,Home,177,1,PayPal,31,1.0,Female,0
1,Electronics,174,3,PayPal,31,1.0,Female,0
2,Books,413,1,Credit Card,31,1.0,Female,0
3,Electronics,396,3,Cash,31,0.0,Female,0
4,Books,259,4,PayPal,31,1.0,Female,0

## wine review dataset

In [43]:
print(df_wine_review.shape)
df_wine_review.apply(lambda col: len(col.unique()))

(129971, 14)

Unnamed: 0               129971
country                      44
description              119955
designation               37980
points                       21
price                       391
province                    426
region_1                   1230
region_2                     18
taster_name                  20
taster_twitter_handle        16
title                    118840
variety                     708
winery                    16757
dtype: int64

In [22]:
df_wine_review = pd.read_csv('D:/#Work/Student_job_2022-23_summer/HS_Munich/data/wine_review/winemag-data-130k-v2.csv')
df_wine_review = df_wine_review.drop(['Unnamed: 0', 'description', 'designation', 'region_1', 'title', 'variety', 'winery'], axis=1, inplace=False)
df_wine_review.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos